:root {
  --white: #fff;
  --black: #000;

  --dark_100: #101010;
  --dark_200: #141414;
  --dark_300: #161616;

  --blue: #1f5eff;
}

body {
  margin: 0;
  background-color: var(--dark_100);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
}

::selection {
  color: var(--white);
  background-color: var(--blue);
}
