.container {
  display: flex;
  column-gap: 16px;
  display: flex;
  justify-content: center;
}

.selectContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  position: relative;
}

.value {
  top: -100px;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
